.level4{
        position:relative;
        background-image: url('../img/food-solution-bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        margin-top:-200px;
        box-sizing: border-box;
        width:100%;
        height: 100%;
        z-index: 99;
    >.container{
        padding-top: 80px;
        padding-bottom: 80px;
        
        .icon4{
            margin: 0 auto;
            background: url(../img/food-solution-icon.png)no-repeat;
            max-width: 83px;
            height: 82px;
        }
        
        .text4{
            position:relative;
            top:-130px;
            width:50%;
            margin: 0 auto 0;
            clear:both;

        h2{            
            color:@white;
            text-align:center;
            font-size: 40px;
            text-transform: uppercase;
    }
        h4{
            color:@white;
            text-align:center;
            font-family: 'Lato', sans-serif;
            font-size: 20px;
            text-transform: uppercase;
    }    }    
    }/*container4 end*/
    
    .food-menu1{
        position:relative;
        top:-100px;
        text-align: left;
        padding: 30px 0;
        height: 540px;
        width: 90%;
        margin:auto;
        
    figure img{
        float:left;
            
        }
    .white-fone{
        position:relative;
        width: 55%;
        height: 100%;
        background: @white;
        float:left;
        
        .breakfast{
            width:80%;
            border-bottom: 1px solid #d7d7d7;
            margin-bottom: 30px;
            margin-left: 25px;
            margin-right: 20px;
}
            h1{
                font-size: 60px; 
                font-family: Alice-Regular;
                font-weight: 400;
                margin-top: 10px;
                margin-bottom: 0;
                color:@grey2;
                }
            h6{
                font-size: 14px;
                margin:10px 0 10px;
                color:@grey2;
                }
        .rating{
            position:absolute;
            right:10px;
            top:-8px;
            background: url(../img/ribbon.png)no-repeat;
            width: 84px;
            height: 113px;
        h3{
            margin-top:40px;
            text-align: center;
            color:@white;                
            }
        h5{
            margin-top: -15px;
            color:@white;
            text-align: center;
            font-weight: 100;
            }
        }
        .menu-costs{
            padding:20px;
            .frame{
                width: 200px;
                display:inline-block;
                border: 1px solid @border-bottom;
                margin-right:5px;
                box-sizing: border-box;
            .figure{
                overflow: hidden;
                width:100%;
                height: auto;
                }

            img{
                width:100%;
                height: auto;
                border: 1px solid @border-bottom;
                box-sizing: border-box;
                
                -webkit-transition: all 0.3s ease-in-out;
                -moz-transition: all 0.3s ease-in-out;
                -o-transition: all 0.3s ease-in-out;
                -ms-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
}
                img:hover{
                     transform: scale(1.1);
                    -webkit-transform: scale(1.1);
                    -o-transform: scale(1.1);
                    -moz-transform: scale(1.1);
                }
            } /*frame-end*/
                
            h4{
                text-align:left;
                color: @grey3;
                font-size: 20px;
                padding:10px 30px 0;
                box-sizing: border-box;       
                }
            h5{
                text-align: left;
                color:@red-number;
                font-size: 16px;
                padding:0 30px 0;
                }
            }
        
        }/*====white-fone end====*/
        
       
    }/*====food-menu1 end====*/
    
.food-menu2{
        position:relative;
        top:-100px;
        text-align: left;
        padding: 30px 0;
        height: 540px;
        width: 90%;
        margin:auto;
        
    figure img{
        float:right;
            
        }
    .white-fone{
        position:relative;
        width: 55%;
        height: 100%;
        background: @white;
        float:right;
        
        .Lunch{
            width:80%;
            border-bottom: 1px solid #d7d7d7;
            margin-bottom: 30px;
            margin-left: 100px;
           
            
}
            h1{
                font-size: 60px; 
                font-family: Alice-Regular;
                font-weight: 400;
                text-align: right;
                margin-top: 10px;
                margin-bottom: 0;
                color:@grey2;
                }
            h6{
                font-size: 14px;
                margin:10px 0 10px;
                text-align: right;
                color:@grey2;
                }
        .rating{
            position:absolute;
            left:10px;
            top:-8px;
            background: url(../img/ribbon.png)no-repeat;
            width: 84px;
            height: 113px;
        h3{
            margin-top:40px;
            text-align: center;
            color:@white;                
            }
        h5{
            margin-top: -15px;
            color:@white;
            text-align: center;
            font-weight: 100;
            }
        }
        .menu-costs{
            padding:20px;
            .frame{
                width: 200px;
                display:inline-block;
                border: 1px solid @border-bottom;
                margin-right:5px;
                box-sizing: border-box;
            .figure{
                overflow: hidden;
                width:100%;
                height: auto;
                }

            img{
                width:100%;
                height: auto;
                border: 1px solid @border-bottom;
                box-sizing: border-box;
                
                -webkit-transition: all 0.3s ease-in-out;
                -moz-transition: all 0.3s ease-in-out;
                -o-transition: all 0.3s ease-in-out;
                -ms-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
}
                img:hover{
                     transform: scale(1.1);
                    -webkit-transform: scale(1.1);
                    -o-transform: scale(1.1);
                    -moz-transform: scale(1.1);
                }
            } /*frame-end*/
                
            h4{
                text-align:left;
                color: @grey3;
                font-size: 20px;
                padding:20px 30px 0;
                box-sizing: border-box;       
                }
            h5{
                text-align: left;
                color:@red-number;
                font-size: 16px;
                padding:0 30px 0;
                }
            }
        
        }/*====white-fone end====*/
        
       
    }/*====food-menu2 end====*/
}/*=======level4 end======*/

.place-order3{
    width: 100%;
    height: 300px;
    background: @red;
    .figure{
        width: 20%;
        height: auto;
        vertical-align: middle;
        padding:15px;
        margin-left:100px;
        margin-right:10px;
        
        img{
            max-width: 100%;
            width:auto;
            height:auto;
            vertical-align: middle;  
        }
    }
    
    h1{
        float:left;
        color:@white;
        margin-top:140px;
        font-weight: 100;
        font-size:30px;
    }
    
    .view-now{
        position:relative;
        top:30px;
        float:left;
        margin:100px;
        padding:17px;
        background: @white;
        width:180px;
        height:60px;
        border-radius:5px;
        border: 1px solid @white;
        box-sizing: border-box;
        
        a{
            display:block;
            color:@red;
            text-decoration: none;
            text-align:center;
            margin:auto;
            text-transform: uppercase;
            font-size: 20px;
            font-weight: bold;
        }
    }
.view-now:hover{
        position:relative;
        top:30px;
        float:left;
        margin:100px;
        padding:17px;
        background: @red;
        width:180px;
        height:60px;
        border-radius:5px;
        border: 1px solid @white;
        box-sizing: border-box;
        
        a:hover{
            display:block;
            color:@white;
            text-decoration: none;
            text-align:center;
            margin:auto;
            text-transform: uppercase;
            font-size: 20px;
            font-weight: bold;            
        }
    }
    
} /*--=======place-order3 end=======--*/
